__pycache__/
*.py[cod]
*.pyo
venv/
.env
.venv/
*.log
logs/
debug/
*.jpg
*.jpeg
*.png
*.mp4
models/*.bin
*.db
*.sqlite3
config/certs/
config/encryption_key
.DS_Store
Thumbs.db
.vscode/
.idea/
node_modules/
app/node_modules/
